$text-color-main: #ffffff;
$text-color-second: #000000;
$text-color-third: #8b8b8b;
$bg-color-first-section: #073042;
$bg-color-main: #202020;
$bg-color-second: #272727;
$accent-green: #3ddc84;
$accent-red: #ee3465;
